.example-card {
    width: 375px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*whatever width you want*/
}

.input-box {
    font-size: 20px;
}